.header {
  padding-top: 35px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(241, 220, 220, 0.692);

  .logo {
    display: block;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-list {
    display: flex;
    max-width: 400px;
    align-items: center;
    justify-content: space-around;

    list-style: none;
  }

  .nav-list-link {
    padding: 10px;

    color: hwb(0 88% 12% / 0.116);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  .nav-list-item + .nav-list-item {
    margin-left: 30px;
  }

  .login-button {
    display: block;
  }

  .login-button {
    display: block;
    width: 80px;
    height: 32px;
    color: #fcc822;
    border: 1px solid #fcc822;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 20px;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: #fcc822;
    }
  }
}
